In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import re
import jinja2
from openpyxl import load_workbook
from openpyxl.drawing.image import Image as XLImage

def analyze_subject(df, subject_name, subject_grade_col):
    print(f"\nAnalyzing subject: {subject_name}\n")

    subject_table = df[['Name', 'Roll Number', subject_name, subject_grade_col]]
    subject_sorted = subject_table.sort_values(by=subject_name, ascending=False)
    top_10 = subject_sorted.head(10)
    print("Top 10 Scorers:")
    print(top_10.to_string(index=False))

    grade_counts = df[subject_grade_col].value_counts()
    print("\nGrade Distribution:")
    print(grade_counts)

    mean_marks = df[subject_name].mean()
    print(f"\nMean marks in {subject_name}: {mean_marks:.2f}")
    
    imagefilename = f"graph_image_{subject_name}.png"

    grade_counts.plot.pie(
        autopct='%1.1f%%',
        startangle=90,
        shadow=True,
        legend=True
    )
    plt.title(f"Distribution of {subject_name} Grades")
    plt.ylabel('')
    plt.savefig(imagefilename, bbox_inches='tight')
    plt.close()

    filename = f"student_data_{subject_name}.xlsx"
    
    with pd.ExcelWriter(filename, engine='openpyxl') as writer:
        df.to_excel(writer, sheet_name='All Subjects', index=False)
        subject_sorted.to_excel(writer, sheet_name=f'{subject_name} Only', index=False)
        top_10.to_excel(writer, sheet_name=f'{subject_name} Top Scorers', index=False)
        grade_counts.to_excel(writer, sheet_name=f'{subject_name} Grade Count', index=True)

    wb = load_workbook(filename)
    ws = wb[f'{subject_name} Grade Count']
    img = XLImage(imagefilename)
    ws.add_image(img, 'D2')
    wb.save(filename)

In [2]:
students = []

In [3]:
with open("data.txt", "r") as file:
    lines = [line.strip() for line in file if line.strip()]

line.strip() is a Python string method used to remove leading and trailing whitespace characters (spaces, tabs, newlines) from a string

In [4]:
for i in range(0, len(lines) - 1, 2):
    line1 = lines[i]
    line2 = lines[i + 1]

    match = re.match(r"(\d+)\s+([MF])\s+(.+?)\s+(?:\d+\s+){5}", line1)
    if not match:
        continue  

    roll, gender, name = match.groups()

    marks_grades = re.findall(r"(\d{3})\s+([A-D][1-2])", line2)
    
    student = {
    "Roll Number": roll,
    "Name": name.strip(),
    "Gender": gender
    }
    for idx, (marks, grade) in enumerate(marks_grades, start=1):
        student[f"Subject{idx}_Marks"] = int(marks)
        student[f"Subject{idx}_Grade"] = grade
    
    students.append(student)

Continue â¬… SKIPS to next student if the pattern doesn't match

match.groups() is a method in Python's re module (regular expressions) that returns a tuple containing all the captured groups in a matched string
For instance, if the regular expression is r"(\d+)-([a-z]+)" and the matched string is "123-abc", then match.groups() would return ('123', 'abc'). If the match fails, match.groups() will raise an AttributeError.

In [5]:
df = pd.DataFrame(students)

df = df.rename(columns={
    'Subject1_Marks': 'ENG',
    'Subject1_Grade': 'ENG GRADE',
    'Subject2_Marks': 'LANG II',
    'Subject2_Grade': 'LANG II GRADE',
    'Subject3_Marks': 'MATH',
    'Subject3_Grade': 'MATH GRADE',
    'Subject4_Marks': 'SCI',
    'Subject4_Grade': 'SCI GRADE',
    'Subject5_Marks': 'SOC',
    'Subject5_Grade': 'SOC GRADE'
})


print(df.to_string(index=False))

Roll Number                                  Name Gender  ENG ENG GRADE  LANG II LANG II GRADE  MATH MATH GRADE  SCI SCI GRADE  SOC SOC GRADE
   28181988               MACHAVOLU JAGADABHIRAMA      M   79        B2       98            A1    73         B1   68        B2   74        B2
   28181989                        VAIBHAV SHARMA      M   88        A2       87            B1    41         D1   59        C1   85        B1
   28181990                   SAI KEDAR DHULIPALA      M   91        A1       91            B1    98         A1   89        A1   85        B1
   28181991                         AKSHAJ SANGAL      M   98        A1       98            A1    99         A1   99        A1   98        A1
   28181992                NISHANT MADAN WAGHMARE      M   95        A1       93            A1    97         A1   97        A1   94        A1
   28181993                 ACHANTA HAREENDRA SAI      M   91        A1       93            B1    90         A1   78        B1   85        B1
   28181994                       PRADYUMNA TOTAD      M   90        A2       90            A2    93         A1   83        A2   91        A2
   28181995                        RAYUDU SATHVIK      M   92        A1       77            C1    93         A1   84        A2   90        A2
   28181996             JOLDAL VISHWANATH VRISHIN      M   83        B1       70            D1    52         C1   44        D1   67        C1
   28181997                         BIJJALA TANAY      M   85        B1       83            B1    71         B1   74        B1   93        A1
   28181998                      GOLI SOHAN REDDY      M   82        B1       86            C1    44         C2   50        C2   73        B2
   28181999                         PRANIT KHANNA      M   90        A2       85            B1    79         A2   63        B2   75        B2
   28182000        PASUMARTHI SIVA SAI RAJ PRANAV      M   82        B1       83            C1    52         C1   59        C1   83        B1
   28182001            ACHYUTHA SREEDHARI DUVVURI      F   94        A1       82            B2    78         B1   80        B1   74        B2
   28182002                   CHEMIKELA MEENAKSHI      F   96        A1       94            A2    94         A1   88        A2   93        A1
   28182003             PENUMETCHA SATYA SPOORTHI      F   95        A1       96            A1    97         A1   88        A2   89        A2
   28182004                   AKSHITA CHAKRABORTY      F   97        A1       94            A1    61         B2   84        A2   86        A2
   28182005                CHERUKURI VEDA SAHASRA      F   89        A2       87            B2    87         A2   82        A2   87        A2
   28182006                      TANISHKA MALLURI      F   79        B2       80            C1    70         B1   59        C1   59        C2
   28182007                  BUNDI JOSHITHA REDDY      F   79        B2       69            D1    43         D1   45        C2   54        D1
   28182008                          MANASA KATTA      F   91        A1       96            A1    82         A2   86        A2   93        A1
   28182009                KRUTHIVENTY SUMANA SRI      F   91        A1       83            C1    63         B2   73        B1   82        B1
   28182010                       RAJANALA ADITHI      F   99        A1       93            A2    87         A2   92        A1   92        A1
   28182011                     SAHASRA NAGABOINA      F   88        A2       74            C2    67         B2   72        B1   83        B1
   28182012    ALAPATI LAKSHMI CHARISHMA CHOWDARY      F   80        B1       73            D1    95         A1   62        B2   61        C2
   28182013                    ANNAPURNA MANTHENA      F   90        A2      100            A1    81         A2   93        A1   94        A1
   28182014                JAKKULA ABHINAV BALAJI      M   96        A1       94            A1    95         A1   91        A1   94        A1
   28182015                    GOPAVARAPU BHAVESH      M   81        B1       81            C1    72         B1   66        B2   67        C1
   28182016            DEVASOTH SREE VIJAYA DURGA      F   90        A2       83            C1    51         C2   58        C1   77        B2
   28182017                     MALLAMPATI JITHIN      M   90        A2       73            C1    71         B1   73        B1   69        C1
   28182018                       PAVURALA SVANIK      M   98        A1       87            B2    93         A1   94        A1   86        A2
   28182019                  SRIHARSH DEVARAKONDA      M   91        A1       91            B2    94         A1   86        A2   87        A2
   28182020                  AKHIL KUMAR KANAKALA      M   93        A1       90            B2    70         B1   80        B1   75        B2
   28182021                         HASINI BASANI      F   94        A1       91            B1    97         A1   98        A1   90        A2
   28182022                        HANSIKA PAMURU      F   95        A1       92            A1    95         A1   95        A1   92        A1
   28182023                THULLURI GOUTHAM KUMAR      M   94        A1       88            B2    71         B1   81        A2   79        B2
   28182024                         ISHITHA PENTA      F   94        A1       88            B2    78         B1   80        B1   80        B1
   28182025      KARTHIKA MAHALAKSHMI RAYAPUREDDY      F   96        A1       93            A2    90         A1   95        A1   93        A1
   28182026                         DODLA AKSHITH      M   98        A1       95            A1    80         A2   91        A1   86        A2
   28182027                         TANISH MANNAM      M   91        A1       95            A2    97         A1  100        A1   87        A2
   28182028 VENKATA SESHA HARI NARAYANA VANAHARAM      M   76        B2       82            B2    46         C2   52        C2   57        C2
   28182029                KUDITHINI VRINDA REDDY      F   98        A1       85            B1    92         A1   94        A1   86        A2
   28182030                        VUDATALA JATIN      M   87        A2       84            C1    96         A1   84        A2   79        B2
   28182031             VEMULAPALLI CHAITHRAVEENA      F   87        A2       80            B2    75         B1   74        B1   82        B1
   28182032           ALLURI GEETHIKA SRI SAHASRA      F   81        B1       90            B1    46         C2   50        C2   67        C1
   28182033                VEDANT SACHIN KULKARNI      M   99        A1       96            A1    97         A1   99        A1   92        A1
   28182034                      GINJUPALLI TEJAS      M   89        A2       68            D1    61         B2   71        B1   78        B2
   28182035             BOMMANA TARUN KUMAR REDDY      M   98        A1       96            A1    99         A1   96        A1   96        A1
   28182036                    LAASYA TORUPUNOORI      F   97        A1       79            B2    74         B1   74        B1   84        B1
   28182037            CHATURA SRI SAI ADUSUMILLI      F   92        A1       84            B1    68         B2   83        A2   89        A2
   28182038               AKSHAYA SANJANA VEGESNA      F   85        B1       68            C2    45         C2   57        C1   66        C1
   28182039              KOMATINENI NIMILITHA SRI      F   96        A1       96            A1    92         A1   87        A2   86        A2
   28182040                    AKSHATHA MULLAPATI      F   92        A1       95            A2    95         A1   97        A1   90        A2
   28182041                  SARANYA VARMA KOSURI      F   99        A1       99            A1    99         A1   96        A1   96        A1
   28182042                           AARYAN SUBI      M   86        A2       68            C2    74         B1   56        C1   68        C1
   28182043                     KAUSTUBHI PUVVULA      F   91        A1       86            C1    73         B1   74        B1   80        B1
   28182044                           NAMAN GUPTA      M   83        B1       68            C2    43         D1   55        C1   61        C2
   28182045                           SIRI AAVULA      F   90        A2       84            B1    63         B2   73        B1   70        C1
   28182046                       PULIPATI HANISH      M   75        B2       81            C1    48         C2   69        B2   68        C1
   28182047             SRIVAISHNAVI GOWRABATHUNI      F   82        B1       65            D1    65         B2   52        C2   86        A2
   28182048               YELLIPALA HEMA GEETHIKA      F   94        A1       92            B1    42         D1   68        B2   81        B1
   28182049                         DEVYANSH MODI      M   93        A1       80            B2    87         A2   80        B1   76        B2
   28182050                      VAKA SUVAN REDDY      M   96        A1       86            B1    99         A1   91        A1   99        A1
   28182051                    SAI RITHVIK MAJOJU      M   98        A1       89            A2    95         A1   99        A1   89        A2
   28182052                      SRIVIDYA KONDAPI      F   82        B1       75            C1    59         C1   69        B2   87        A2
   28182053         LAKSHMI SAI PRANATHI KODAVALA      F   95        A1       91            A2    88         A2   91        A1   95        A1
   28182054                       AVISHI BHARGAVA      F   97        A1       97            A1    96         A1   91        A1   95        A1
   28182055                  DEETYA ASHWIKA PETTA      F   98        A1       94            B1    77         B1   76        B1   85        B1
   28182056               CHAGAM DOHANA KAARTHIKA      F   96        A1       95            A2    91         A1   94        A1   97        A1
   28182057                 DURGA LIPIKA INDUKURI      F   93        A1       82            C1    85         A2   81        A2   71        C1
   28182058                TELLAKULA GYANA HASINI      F   90        A2       67            D1    36         D2   57        C1   76        B2
   28182059                      JASHRIKA TUMMALA      F   94        A1       96            A2    97         A1   84        A2   87        A2
   28182060                 VELIVALA MRUDHULA SRI      F   97        A1       79            B2    74         B1   78        B1   74        B2
   28182061                      SAGIRAJU SHRAVYA      F   89        A2       87            B2    39         D1   76        B1   67        C1
   28182062                   SHIVARATHRI SRAGHVI      F   89        A2       96            A2    88         A2   79        B1   85        B1
   28182063                 DONAPATI SHRUTI REDDY      F   86        A2       95            B1    87         A2   88        A2   87        A2
   28182064                 VIHAAN KONAGALA ALLEM      M   94        A1       93            A1    91         A1   87        A2   94        A1
   28182065                     RUCHIKA CHITLANGI      F   95        A1       90            A2    94         A1   94        A1   92        A1
   28182066                  NANDHAN RAM PENDYALA      M   93        A1       86            B1    88         A2   87        A2   88        A2
   28182067              SAI PRAHAAS REDDY YETURU      M   81        B1       83            C1    78         B1   69        B2   81        B1
   28182068                   SAI DARSHEEL CHOPPA      M   98        A1       87            B1    99         A1   91        A1   98        A1
   28182069                        MAGANTI SATVIK      M   91        A1       55            D2    85         A2   70        B2   80        B1
   28182070         VENKATA SAI KAUSHIK PULIKOLLU      M   76        B2       97            A1    63         B2   70        B2   70        C1
   28182071                AVANEESH REDDY PINGILI      M   93        A1       94            B1    80         A2   78        B1   83        B1
   28182072                SINGAM HEMADITYA REDDY      M   90        A2       69            D1    67         B2   65        B2   64        C2
   28182073                        ALLURI ISHITHA      F   98        A1       86            B1    93         A1   86        A2   90        A2
   28182074                        NIKHILESH NAIR      M   95        A1       94            A1    99         A1   98        A1   95        A1
   28182075                         ADVIK KRISHNA      M   95        A1       95            A1    96         A1   97        A1   94        A1
   28182076                  YERUVA CHANDAN REDDY      M   92        A1       81            B2    84         A2   89        A1   90        A2
   28182077                         ARUSH PRADEEP      M   92        A1       82            B2    87         A2   89        A1   79        B2
   28182078                  DANDAMUDI HARIMIHITH      M   92        A1       94            B1    92         A1   91        A1   84        B1
   28182079             NARYAN CHOWDARY MYNAMPATI      M   97        A1       81            C1    86         A2   93        A1   78        B2
   28182080         GADIRAJU HARSHITH ANJAN VARMA      M   88        A2       70            C2    71         B1   60        C1   70        C1
   28182081                     VIDEETH VESIREDDY      M   92        A1       87            C1    98         A1   86        A2   87        A2
   28182082      GONUGUNTLA SHANMUKHA SAI SANDESH      M   87        A2       74            C2    67         B2   58        C1   73        B2
   28182083                         MANAV AGARWAL      M   91        A1       82            B2    74         B1   81        A2   79        B2
   28182084                  KILARU CHETAN ANEESH      M   92        A1       91            B1    64         B2   82        A2   84        B1
   28182085                       ADITYA NIDUMOLU      M   99        A1       96            A1    99         A1   97        A1   99        A1
   28182086           VINAY CHOWDHARY DOPPALAPUDI      M   93        A1       81            C2    70         B1   71        B1   73        B2
   28182087               ANIRUDDHA KRISHNA SADHU      M   92        A1       89            B1    84         A2   87        A2   90        A2
   28182088           MEESALA SRIVISHIST RAMANUJA      M   96        A1       90            A2    94         A1   89        A1   91        A2
   28182089                       CHAMATA MOUNISH      M   88        A2       86            C1    98         A1   70        B2   74        B2
   28182090                          LANKA ISHAAN      M  100        A1       98            A1    96         A1   97        A1   87        A2
   28182091                       AADHVIK DHANUKA      M   89        A2       97            A1    94         A1   88        A2   81        B1
   28182092          VEGESANA DHEERAJ PAVAN VARMA      M   87        A2       85            B2    91         A1   81        A2   83        B1
   28182093                VENKATA CHARAN CHIMATA      M   94        A1       87            B2    93         A1   92        A1   84        B1
   28182094                             AADYA JHA      F   91        A1       85            B1    56         C1   71        B1   77        B2
   28182095             LANKA KARTHIKA BHUVANASRI      F   92        A1       95            A1    91         A1   86        A2   85        B1
   28182096                     DIYA REDDY AVUTHU      F   90        A2       93            A1    96         A1   97        A1   89        A2
   28182097                     GURRAMPATI HASINI      F   93        A1       92            B1    65         B2   82        A2   86        A2
   28182098                        BANDARU DEETYA      F   92        A1       89            B1    66         B2   71        B1   83        B1
   28182099                 MOHAMMED ATIKAH PATEL      F   78        B2       85            C1    41         D1   58        C1   49        D1
   28182100                   RIDDHI RAO KAMINENI      F   89        A2       87            B2    80         A2   82        A2   87        A2
   28182101                  TALLAPAREDDY AKSHAYA      F   64        C2       56            D2    43         D1   43        D1   65        C1
   28182102                SAJJA ROSHINI CHOWDARY      F   95        A1       81            C2    82         A2   86        A2   82        B1
   28182103                         TARUNIKA AMMA      F   92        A1       86            B1    76         B1   89        A1   92        A1
   28182104                     SANVY JANIPIREDDY      F   83        B1       70            D1    45         C2   61        C1   80        B1
   28182105                           CYRIL SINHA      M   79        B2       56            D1    56         C1   60        C1   49        D1
   28182106                    SUNDER KUMAR SINGH      M   90        A2       71            C2    50         C2   47        C2   67        C1
   28182107                           EDE GAGNESH      M   91        A1       98            A1    78         B1   80        B1   84        B1
   28182108                      JIVITESH KHOTARI      M   82        B1       85            B2    40         D1   54        C1   93        B1
   28182109                      KOVA NAGA SREYAS      M   82        B1       66            D1    48         C2   49        C2   65        C1
   28182110            GOWRARAM SRI RAMA SHRESHTA      F   82        B1       73            C1    53         C1   69        B2   83        B1
   28182111                    SHRISH BALAKUMARAN      M   94        A1       93            A1    93         A1   93        A1   92        A1
   28182112                           ARHAM AHMED      M   90        A2       73            C1    48         B2   61        C1   72        C1
   28182113 TANUSHREE CHITRAMBALAM BALAMARRIAPPAN      F   77        B2       57            D1    52         B1   60        C1   80        B1

In [6]:
df.style.set_properties(**{
    'text-align': 'center'
}).set_table_styles([
    {"selector": "th", "props": [("text-align", "center")]}
])

In [7]:
subject = input("Which subject do you want? (Enter short form, all caps): ")
subject_grade = subject + " GRADE"

In [8]:
analyze_subject(df, subject, subject_grade)

Analyzing subject: SOC

Top 10 Scorers:
                         Name Roll Number  SOC SOC GRADE
              ADITYA NIDUMOLU    28182085   99        A1
             VAKA SUVAN REDDY    28182050   99        A1
                AKSHAJ SANGAL    28181991   98        A1
          SAI DARSHEEL CHOPPA    28182068   98        A1
      CHAGAM DOHANA KAARTHIKA    28182056   97        A1
         SARANYA VARMA KOSURI    28182041   96        A1
    BOMMANA TARUN KUMAR REDDY    28182035   96        A1
              AVISHI BHARGAVA    28182054   95        A1
LAKSHMI SAI PRANATHI KODAVALA    28182053   95        A1
               NIKHILESH NAIR    28182074   95        A1

Grade Distribution:
SOC GRADE
B1    29
A2    29
A1    25
B2    19
C1    16
C2     5
D1     3
Name: count, dtype: int64

Mean marks in SOC: 81.82